<!DOCTYPE html>

{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page_title}} / Board game v. 0.2</title>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        <script src="https:{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>

    {% include "topnavbar.html" %}

    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>

</body>
</html>
