body{
  padding-top: 70px;
}


.add-monsters input{
    width: 40px;
}

.monsters-list,
.log-display{
    overflow-y: scroll;
    height:200px;
    border:1px solid
}

.monsters-list{
    height: 350px;
}
