body{
  padding-top: 70px;
}

h3{
    margin: 10px 0;
    font-size: 18px;
}

hr{
    margin:3px 0;
}

.add-monsters input{
    width: 40px;
}

.left-col div{
    padding: 0;
}


#log-display{
    overflow-y: scroll;
    height:180px;
    border:1px solid
}

#monsters-list hr{
    margin:10px auto;
    width: 90%;
    border: none;
    height: 1px;
    color: #c1c1c1;
    background-color: #c1c1c1;
}

#log-display{
    padding: 10px 10px 0 10px;
}

#monsters-list{
  padding: 10px 0 0 0;
}

.player-health .fa{
    font-size:20px;
    color:red;
}

.btn .fa{
    color: #fff;
}

/* GAME LOG */
.hero-hit,
.monster-hit{
    color:red;
    font-weight: bold;
}

.monster-hit{
    color:green;
}

.neutral-msg{
    color: #afaeae;
}

#monsters-list strong,
.monster-hit strong{
    font-size: 20px;
}

.monster-hit i{
    color: #09a509;
    animation-name: loot_item_anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loot_item_anim{
    0% {color: #09a509;}
    33% {color: #ffb501;}
    100% {color: #09a509;}
}

.inventory{}
.inventory-section{
    margin-bottom: 10px;
    padding: 5px;
}
.weapon-wrapper{background-color:#ffc6c6;}
.armor-wrapper{background-color:#ffdfb8;}
.trinket-wrapper{background-color:#b3dfff;}
.inventory-item{
    font-size: 12px;
}

.inventory-item span{
    font-size: 16px;
}

/* PANEL */
.panel-give-item{
    text-align: center;
}

/* MESSAGES */
.messages li{
    list-style: none;
    padding: 5px;
    margin-top: 0;
    text-align: center;
    background-color: grey;
    color: #fff;
    font-size: 16px;
}
.messages li.success{
    background-color: green;
}
.messages li.alert{
    background-color: red;
}
