body{
  padding-top: 70px;
}

h3{
    margin: 10px 0;
    font-size: 20px;
}

.add-monsters input{
    width: 40px;
}

.left-col div{
    padding: 0;
}

#monsters-list,
#log-display{
    overflow-y: scroll;
    height:180px;
    border:1px solid
}

#monsters-list{
    height: 300px;
}

#monsters-list hr{
    margin:10px auto;
    width: 90%;
    border: none;
    height: 1px;
    color: #c1c1c1;
    background-color: #c1c1c1;
}

#log-display{
    padding: 10px 10px 0 10px;
}

#monsters-list{
  padding: 10px 0 0 0;
}
